* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  /* height: 100vh; */
}

.date-today {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 20px 20px;
}

.date {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
}

.container-prevision-day {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.container-meteo {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 90%;
  max-width: 300px;
  color: #fff;
  text-align: center;
  padding: 20px 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0;
}

.search-bar {
  width: 200px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}

input {
  padding-left: 15px;
}

i {
  color: white;
}

.city {
  font-size: 3em;
  padding-bottom: 10px;
}

.weather-image {
  width: 25%;
  margin: 20px 0;
}

.temp {
  font-size: 2.5em;
}

.conditions-meteo > div {
  padding-bottom: 10px;
}

.humidity-wind {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.container-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.card-forecast {
  width: 18%;
  /* height: 300px; */
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media screen and (max-width: 680px) {
  .date-today {
    font-size: 1.2em;
  }
  .container-meteo {
  }

  .card {
    width: 80%;
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .city,
  .temp,
  .date {
    font-size: 1.4em;
  }

  .container-forecast {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-forecast {
    width: 30%;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 420px) {
  .container-forecast {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-forecast {
    width: 55%;
    font-size: 0.7em;
  }
}
